* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --LightGray: hsl(212, 45%, 89%);
  --GrayishBlue: hsl(220, 15%, 55%);
  --DarkBlue: hsl(218, 44%, 22%);
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  background-color: var(--LightGray);
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 40px 0 0 0;
}

.card {
  background-color: var(--White);
  border-radius: 14px;
  margin: 20px 0 0 0;
}

.card__qr__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.card__qr {
    border-radius: 14px;
    width: 90%;
}

.card__text__wrapper__heading {
  text-align: center;
  font-size: 38px;
  margin: 40px 0 0 0;
}

.card__text__wrapper__paragraph {
  color: var(--GrayishBlue);
  font-size: 16px;
  text-align: center;
  display: block;
  margin: 10%;
}

footer {
  text-align: center;
  margin: 40px 0 0 0;
}

footer a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
  main {
    width: 80%;
  }

  .card__qr {
    width: 100%;
  }

  .card__text__wrapper__heading {
    font-size: 18px;
    margin: 0;
  }

  footer {
    font-size: 12px;
    margin: 40px 0 40px 0;
  }
}
