* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.show-hide-content-section-heading {
  text-align: center;
  margin: 120px 80px 120px 80px;
  line-height: 1.5;
}

.show-hide-content-section-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button {
  background-color: orangered;
  color: white;
  padding: 2%;
  border-radius: 8px;
  box-shadow: 0.5;
  transition: all .2s ease-in-out; 
  cursor: pointer;
  text-transform: uppercase;
}

button:hover { 
  transform: scale(1.1); 
  }

.show-hide-content-boxes-section {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2mm ridge rgba(8, 9, 56, .9);
  margin: 40px;
}

.show-hide-content-boxes-section h2 {
  margin: 80px 0 80px 0;
  text-align: center;
}




